@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap");
* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* font-family: "Martel Sans", sans-serif; */
}
body{
    background-color: #000;
}

.main {
  background-image: url(assets/images/bg.jpg.jpg);
  height: 80vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
}
.main .box {
  height: 80vh;
  width: 100%;
  opacity: 0.65;
  background-color: #000;
  position: absolute;
  top: 0%;
}

nav {
  max-width: 70vw;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav span img {
  width: 120px;
  position: relative;
  z-index: 1;
  color: red;
}
nav button {
  position: relative;
  z-index: 1;
}

.hero {
  height: calc(100% - 100px);
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Martel Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 0px 30px;
}
.hero> :nth-child(1){
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}
.hero> :nth-child(2){
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.hero> :nth-child(3){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.seperation{
  height: 7px;
  background-color: rgb(46, 43, 43);
  position: relative;
  z-index: 20;
}

.btn{
  padding: 3px 8px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(243, 243, 244, 0.022);
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
}

.btn-red{
  background-color: red;
  color: #fff;
  padding: 12px 22px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-weight: 300;
}

.hero-btns {
  display: flex;
  align-items: center;
  gap: 10px;

}

.hero-btns input{
  padding: 13px 102px 13px 15px;
  font-weight: 900;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Martel Sans", sans-serif;
  color: #fff;
  background-color: rgba(23, 23, 23, 0.2);
  border: 1px solid grey;
}
.btn-red-sm{
  background-color: red;
  color: #fff;
}

.first{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  height: 80vh;
  margin: auto;
  color: #fff;
}

.tvText h1 {
  font-size: 40px;
  font-weight: 900;
  padding-bottom: 15px;
}
.tvText p{
  font-size: 21px;
}
.tvImg{
  position: relative;
}
.tvImg img{
  width: 525px;
  position: relative;
  z-index: 1;
}
.tvImg video{
  position: absolute;
  top: 68px;
  right: 52px;
  width: 405px;
}

/* section third Iphone tv section */
.third .appletvImg{
  position: relative;
}
.third .appletvImg img{
  width: 550px;
  position: relative;
  z-index: 1;
}
.third .appletvImg video{
  position: absolute;
  top: 34px;
  right: 114px;
  width: 340px;
}

.mobImg img{
  width: 500px;
}

.mobText h1{
  font-size: 40px;
  font-weight: 900;
  padding-bottom: 15px;
}
.mobText p{
  font-size: 21px;
}
.faq{
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.faq h2{
  text-align: center;
  padding: 6px 0px 15px 0px;
  font-size: 48px;
  font-weight: 800;
}
.faqbox{
  background-color: #2d2d2d;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 27px;
}
.faqbox:hover{
  background-color: #414141;
  transition: ease-in-out;
}
.faqbox p{
  font-size: 24px;
}
.captionButton{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 17px 0px;
}
.captionButton .caption p{
  font-size: 24px;
  font-weight: 500;
}
.captionButton .hero-btns{
  margin: auto;
}

footer{
  color: #fff;
  max-width: 60vw;
  margin: auto;
  padding: 30px;
}
footer .questions{
  padding: 15px 0px;
}
.myfooter{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-item{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-item a{
  color: #fff;
  font-size: 14px;
}

/* media Query */
@media screen and (max-width: 1300px){
  .hero> :nth-child(1){
    font-size: 45px;
  }
  .first{
    display: flex;
    flex-direction: column;
  }

  .tvImg img{
    width: 350px;
  }
  .tvImg video{
    width: 255px;
    top: 58px;
    right: 52px;
  }
  .mobImg img{
    width: 300px;
  }
  .mobText{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobText h1{
    font-size: 30px;
    padding-bottom: 10px;
  }
  .third .appletvImg img{
    width: 412px;
  }
  .third .appletvImg video{
    width: 260px;
    right: 78px;
  }
  .tvText h1{
    font-size: 28px;
  }
  .hero-btns{
    flex-direction: column;
    gap: 16px;
  }
  .myfooter{
    grid-template-columns: 1fr 1fr;
  }
}